#Footer {
  background-image: url(../assets/Contact-bg.png);
  background-position: bottom;
}

@media (max-width: 701px) {
  #Footer {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
